<div class="header">
  <div class="header-info">
    <p class="title">True Tags</p>
    <jt-button class="nav-link" (click)="authService.signOut()">
      <i class="fas fa-sign-out-alt"></i>Log out
    </jt-button>
  </div>
</div>
<div class="page-title">Order Item</div>

<div class="container">
  <div class="image">
    <input
      type="file"
      class="formControl"
      accept="image/*"
      (change)="fileChangeEvent($event)"
    />
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 4"
      [resizeToWidth]="256"
      [roundCropper]="true"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
    <img *ngIf="croppedImage" class="preview" [src]="croppedImage" />
  </div>
  <div class="form-group" [formGroup]="orderForm">
    <input class="form-control" formControlName="name" />
    <input class="form-control" formControlName="street1" />
    <input class="form-control" formControlName="street2" />
    <input class="form-control" formControlName="city" />
    <input class="form-control" formControlName="state" />
    <input class="form-control" formControlName="zip" />
  </div>
</div>
