:host {
  --main-color: var(--secondary-color);
  --hover-color: var(--primary-color);
}

button {
  color: white;
  background-color: var(--main-color);
  padding: 10px 32px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
}

button:hover {
  background-color: var(--hover-color);
  color: var(--main-color);
}
