<div class="container">
  <div class="authBlock">
    <h1 class="title">True Tags</h1>
    <div class="formGroup">
      <input
        type="text"
        class="formControl"
        placeholder="Username"
        #userName
        required
      />
    </div>

    <div class="formGroup">
      <input
        type="password"
        class="formControl"
        placeholder="Password"
        #userPassword
        required
      />
    </div>

    <!-- Calling SignIn Api from AuthService -->
    <div class="formGroup">
      <jt-button
        (click)="authService.signIn(userName.value, userPassword.value)"
        >Sign In</jt-button
      >
    </div>

    <div class="formGroup">
      <span class="or"><span class="orInner">Or</span></span>
    </div>

    <!-- Calling GoogleAuth Api from AuthService -->
    <div class="formGroup">
      <jt-button (click)="authService.googleAuth()">
        <i class="bi bi-google"></i>
        Log in with Google
      </jt-button>
    </div>

    <div class="forgotPassword">
      <span class="link" routerLink="/stickers/forgot-password"
        >Forgot Password?</span
      >
    </div>
  </div>

  <div class="redirectToLogin">
    <span
      >Don't have an account?<span
        class="redirect"
        routerLink="/stickers/sign-up"
        class="link"
      >
        Sign Up</span
      ></span
    >
  </div>
</div>
