.single {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  select,
  input {
    padding: 16px;
    border-radius: 8px;
    margin: 16px;
    width: 100%;
  }

  .form-group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}

.users {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  justify-content: center;
  align-items: center;
  width: 80%;
}
