<div class="header">
  <a routerLink="/stickers"> < Back </a>
</div>
<div class="body">
  <h1>Placement</h1>
  <p class="indent-1">
    The sticker must be placed in an area as to not interfere with your phones
    antenna. Please use the below image to see where you can place your sticker
    on your phone
  </p>
  <img src="assets/images/nfc-placement.jpg" />
  <h1>Using the Sticker</h1>
  <p class="indent-1">
    To use your sticker, hold it so the sticker is facing up. Next, have the
    other person hold the back of their phone to your sticker while their phone
    is on so that the sticker is near their phones reader. After a few seconds
    of it being in the right spot a notification will pop up with a link. The
    other person must follow that link to whatever you had programmed into your
    sticker.
  </p>
  <img src="assets/images/phone-to-tag.jpg" />
  <h2 class="indent-1">iPhone</h2>
  <p class="indent-2">
    All iPhone X and later have an antenna. <br />
    <br />
    The antenna for iPhones is located at the top of the phone
  </p>
  <img src="assets/images/iphone-antenna.png" class="placement" />
  <h2 class="indent-1">Android</h2>
  <p class="indent-2">
    Nearly all Android phones have an antenna, however, most phones come
    defaulted to not read NFC tags. If you wish to scan these stickers with your
    Android you must go to your connection settings and turn on NFC. <br />
    <br />The Android antenna is located around the middle of the phone
  </p>
  <img src="assets/images/android-antenna.png" class="placement" />
</div>
