<div class="header">
  <div class="header-info">
    <p class="title">True Tags</p>
    <jt-button class="nav-link" (click)="authService.signOut()">
      <i class="fas fa-sign-out-alt"></i>Log out
    </jt-button>
  </div>
</div>

<div class="container">
  <div class="user-info">
    <img
      *ngIf="user.photoURL"
      class="img-thumbnail"
      [src]="user.photoURL"
      alt="{{ user.displayName }}"
    />
    <h1 class="name">
      <strong>{{ user?.displayName ? user.displayName : "User" }}</strong>
    </h1>
    <!-- <jt-button (click)="editUser()"> Edit Profile </jt-button> -->
  </div>
  <jt-link-grid [editable]="true"></jt-link-grid>
</div>
