<div class="single">
  <div class="form-group">
    <label>Type</label>
    <select #type [(ngModel)]="data.type">
      <option value="snapchat">Snapchat</option>
      <option value="instagram">Instagram</option>
      <option value="twitter">Twitter</option>
      <option value="tiktok">Tik Tok</option>
      <option value="facebook">Facebook</option>
      <option value="reddit">Reddit</option>
      <option value="url">Custom Url</option>
      <option value="linkedin">Linked In</option>
      <option value="github">Git Hub</option>
      <option value="business-card">Business Card</option>
    </select>
  </div>
  <div class="form-group">
    <label>{{ valueLabel }}</label>
    <input
      type="text"
      #value
      [placeholder]="valueLabel"
      [(ngModel)]="data.value"
    />
  </div>
  <jt-button (click)="copySingleLink(type.value, value.value)"
    >Copy Link</jt-button
  >
</div>

<div class="users">
  <div class="row" *ngFor="let user of userArray">
    <p>{{ user.displayName }}</p>
    <p>{{ user.email }}</p>
    <jt-button (click)="copyLink(user.uid)">Copy Link</jt-button>
  </div>
</div>
