header {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  &::after {
    content: '';
    width: 50%;
    height: 2px;
    background: linear-gradient(to right, var(--background-color), var(--secondary-color), var(--background-color));
    position: absolute;
    bottom: -4px;
    margin-left: 25%;
  }
}

.logo {
  height: 50px;
}

.icon path {
  stroke: var(--tertiary-color);
  fill: var(--secondary-color);
}

.icon:hover path {
  fill: var(--primary-color);
}

.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  ul {
    margin: 0;
    list-style: none;
    padding-inline-start: 0;
    li {
      float: left;
      padding: 10px;
      cursor: pointer;
    }
  }
  a {
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none;
    position: relative;
    margin: 0 25px;
    &::after {
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: var(--secondary-color);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover::after {
      width: 100%;
      left: 0;
    }
  }
}

.welcome {
  font-size: 72px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 150px 0;
  .highlight {
    color: var(--primary-color);
  }
}

.body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.bold {
  font-weight: bold;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: var(--app-width);
}

.name {
  font-size: 48px;
}

.contact-button {
  background-color: var(--primary-color);
  width: 200px;
  height: 26px;
  font-size: 20px;
  border-radius: 36px;
  text-align: center;
  color: var(--background-color);
  text-decoration: none;
  padding: 10px;
  margin-top: 50px;
  border: 2px solid var(--primary-color);
  &:hover {
    background-color: var(--primary-shade);
    border: 2px solid var(--secondary-color)
  }
}

.pic {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--tertiary-color);
  padding: 20px;
  width: 100%;
  .about-item {
    height: 200px;
    border: 4px solid var(--secondary-color);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    max-width: var(--app-width);
    .about-image {
      height: 160px;
      width: 160px;
      object-fit: cover;
      border-radius: 8px;
    }
    .about-info {
      margin-left: 20px;
    }
    .about-title {
      font-size: 36px;
      margin-top: 0;
    }
  }
}

.skills {
  max-width: var(--app-width);
  width: 100%;
  .skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .skill {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 70px;
      margin: 20px;
      .skill-image {
        height: 50px;
      }
      a {
        margin-left: 20px;
        text-decoration: none;
        color: var(--secondary-color);
        font-weight: bold;
      }
    }
  }
}

.skill-table {
  display: grid;
  grid-template-columns: 1fr 6fr;
  justify-items: flex-start;
  align-items: center;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.projects {
  max-width: var(--app-width);
  width: 100%;
  margin: 100px 0;
}


.contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px;
}

.link {
  margin: 80px;
}

.link a {
  color: var(--primary-color);
  padding: 10px;
  margin: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  text-decoration: none;
}

.link a:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  * {
    margin: 0 10px;
  }
}

.resume {
  color: var(--secondary-color);
  margin-bottom: 40px;
}

.resume:hover {
  color: var(--primary-color);
}


.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: var(--app-width);
  margin-top: 50px;
  .contact-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 100px;
  }
  .contact-card {
    padding: 10px;
    border: 1px solid var(--tertiary-color);
    height: 120px;
    border-radius: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    .contact-pic {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-left: 10px;
    }
    h3 {
      font-size: 36px;
      font-weight: 700;
      margin: 5px 20px;
    }
    h6 {
      font-size: 20px;
      margin: 5px 20px;
    }
    .social-links {
      width: max-content;
    }
  }
}

@media only screen and (max-width: 1160px) {
  .images {
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1800px) {
  .intro {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 980px) {
  .about {
    grid-template-columns: 1fr;
  }
}
