<div class="header">
  <div class="header-info">
    <p class="title">True Tags</p>
    <a routerLink="/stickers/info" class="info">?</a>
  </div>
  <div class="payment">
    <a class="cash" href="https://cash.app/$JustinTrue" target="_blank">
      Cash App: $JustinTrue
    </a>
    <a
      class="venmo"
      href="https://venmo.com/code?user_id=2072694661054464615"
      target="_blank"
    >
      Venmo: @Justin-True-22
    </a>
  </div>
</div>

<div class="container">
  <div class="tabs">
    <button (click)="currentStock = true" [class.active]="currentStock">
      In Stock
    </button>
    <button (click)="currentStock = false" [class.active]="!currentStock">
      Custom Design
    </button>
  </div>
  <span class="banner">{{ banner }}</span>
  <div *ngIf="currentStock" class="design-container">
    <jt-sticker-item
      *ngFor="let design of designs"
      [design]="design"
    ></jt-sticker-item>
  </div>
  <div *ngIf="!currentStock" class="custom">
    <p>
      If you wish to custom order a design please email
      <a href="mailto:truejustin22@gmail.com">truejustin22@gmail.com</a>with the
      design
    </p>
  </div>
</div>
