:root {
    --primary-color: #970c10;
    --secondary-color: #474440;
    --tertiary-color: #738580;
    --background-color: #bfcad0;
    --primary-shade: #6A080B;
    --app-width: 1600px
  }
  
  html, body {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--background-color);
    font-family: "Courier New", Courier, monospace;
    color: var(--secondary-color);
    font-size: 22px;
  }
  
  html, body { height: 100%; width: 100%; overflow-x: hidden; }
  body { margin: 0; font-family: 'Roboto', sans-serif; }